@charset "UTF-8";
html {
  min-width: 320px; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  line-height: 24px;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

li {
  list-style: none; }

p {
  margin: 0; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans.woff"), url("../fonts/opensans.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff"), url("../fonts/opensansbold.woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff"), url("../fonts/opensanslight.woff2");
  font-weight: light;
  font-style: normal; }

.page-header {
  width: 100%;
  position: relative; }

.main-nav {
  background-color: #283645;
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .main-nav {
      position: absolute;
      min-height: 110px;
      background-color: rgba(0, 0, 0, 0.3); } }

.main-nav__wrapper {
  position: relative; }
  @media screen and (min-width: 1200px) {
    .main-nav__wrapper {
      width: 320px;
      margin: 0 auto;
      padding: 0 20px;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (min-width: 1200px) and (min-width: 700px) {
    .main-nav__wrapper {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) and (min-width: 1200px) {
    .main-nav__wrapper {
      width: 1200px;
      padding: 0 130px; } }

.main-nav__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (min-width: 700px) {
    .main-nav__container {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .main-nav__container {
      width: 1200px;
      padding: 0 130px; } }
  @media screen and (min-width: 700px) {
    .main-nav__container {
      min-height: 110px; } }
  @media screen and (min-width: 1200px) {
    .main-nav__container {
      padding: 0; } }

.main-nav__top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  min-height: 64px;
  background-color: #283645;
  border-bottom: 1px solid #000000; }
  .main-nav__top--closed {
    background-color: rgba(0, 0, 0, 0.4); }
  @media screen and (min-width: 1200px) {
    .main-nav__top {
      position: relative;
      width: 147px;
      left: auto;
      -ms-flex-pack: center;
          justify-content: center;
      background-color: transparent;
      border: none; } }

.main-nav__logo-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  opacity: 1;
  padding-top: 4px;
  font-size: 0; }
  .main-nav__logo-link:hover svg {
    fill: #d22856; }
  .main-nav__logo-link:active svg {
    fill: rgba(255, 255, 255, 0.3); }

.main-nav__logo-link svg {
  fill: #ffffff; }

@media screen and (min-width: 700px) {
  .main-nav__svg-mobile {
    display: none; } }

.main-nav__svg-tablet {
  display: none; }
  @media screen and (min-width: 700px) {
    .main-nav__svg-tablet {
      margin-top: -18px;
      display: inline; } }
  @media screen and (min-width: 1200px) {
    .main-nav__svg-tablet {
      display: none; } }

.main-nav__svg-desktop {
  display: none; }
  @media screen and (min-width: 1200px) {
    .main-nav__svg-desktop {
      margin-top: -18px;
      display: inline; } }

.main-nav__toggle {
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 30px;
  font-size: 0;
  border: none;
  background: transparent url("../img/icon-menu-burger.svg") no-repeat 50% 50%; }
  .main-nav__toggle:hover {
    background: transparent url("../img/icon-menu-burger-hover.svg") no-repeat 50% 50%; }
  .main-nav__toggle:active {
    opacity: 0.7; }
  @media screen and (min-width: 1200px) {
    .main-nav__toggle {
      display: none; } }
  .main-nav__toggle--close {
    background: url("../img/icon-menu-cross.svg") no-repeat 50% 50%; }
  .main-nav__toggle--close:hover {
    background: url("../img/icon-menu-cross-hover.svg") no-repeat 50% 50%; }

.main-nav__list {
  display: none;
  width: 320px;
  margin: 0;
  padding-left: 0;
  padding-top: 65px;
  list-style: none;
  background-color: #283645;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (min-width: 700px) {
    .main-nav__list {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .main-nav__list {
      width: 1200px;
      padding: 0 130px; } }
  @media screen and (min-width: 1200px) {
    .main-nav__list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
          justify-content: flex-end;
      -ms-flex-align: center;
          align-items: center;
      position: relative;
      width: 793px;
      top: 0;
      right: 0;
      padding: 0;
      min-height: 110px;
      background-color: transparent;
      z-index: 20; } }
  .main-nav__list--open {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    min-height: 70px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 64px; }
    @media screen and (min-width: 700px) {
      .main-nav__list--open {
        padding-top: 111px; } }
    @media screen and (min-width: 1200px) {
      .main-nav__list--open {
        padding-top: 0; } }

.main-nav__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000; }
  @media screen and (min-width: 1200px) {
    .main-nav__item {
      border: none; } }

.main-nav__link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  font-family: "Open Sans";
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media screen and (min-width: 1200px) {
    .main-nav__link {
      text-transform: none;
      font-size: 18px;
      line-height: 18px;
      font-weight: normal;
      margin-left: 84px; } }
  @media screen and (min-width: 1200px) {
    .main-nav__link--active {
      border-bottom: 2px solid #ffffff; }
      .main-nav__link--active:hover {
        border-bottom: 2px solid #D22856; }
      .main-nav__link--active:active {
        border: none; } }
  .main-nav__link:hover {
    color: #D22856; }
  .main-nav__link:active {
    color: rgba(210, 40, 86, 0.3); }
    @media screen and (min-width: 1200px) {
      .main-nav__link:active {
        color: rgba(255, 255, 255, 0.3); } }

.promo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 35px;
  z-index: -20;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 51% -5px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo {
      background: #1d2631 url("../img/bg-back-mobile@2x.jpg") no-repeat 51% -5px;
      background-size: 320px auto; } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .promo {
      background: #1d2631 url("../img/bg-back-mobile@2x.jpg") no-repeat 51% -5px;
      background-size: 320px auto; } }
  @media screen and (min-width: 700px) {
    .promo {
      padding-bottom: 0;
      background: #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat 51% -5px; } }
  @media screen and (min-width: 700px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 700px) and (min-resolution: 144dpi), screen and (min-width: 700px) and (min-resolution: 1.5dppx) {
    .promo {
      background: #1d2631 url("../img/bg-back-tablet@2x.jpg") no-repeat 51% -5px;
      background-size: 700px auto; } }
  @media screen and (min-width: 700px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 700px) and (min-resolution: 1.5dppx) {
    .promo {
      background: #1d2631 url("../img/bg-back-tablet@2x.jpg") no-repeat 51% -5px;
      background-size: 700px auto; } }
  @media screen and (min-width: 1200px) {
    .promo {
      padding-bottom: 0;
      background: #1d2631 url("../img/bg-back-desktop@1x.jpg") no-repeat 51% 5px; } }
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 144dpi), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .promo {
      background: #1d2631 url("../img/bg-back-desktop@2x.jpg") no-repeat 51% 5px;
      background-size: 1200px auto; } }
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .promo {
      background: #1d2631 url("../img/bg-back-desktop@2x.jpg") no-repeat 51% 5px;
      background-size: 1200px auto; } }

.promo--slogan {
  padding-bottom: 0; }

.promo__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 700px) {
    .promo__wrapper {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .promo__wrapper {
      width: 1200px;
      padding: 0 130px; } }

.promo__wrapper--slogan {
  padding: 0; }

.promo__description {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 36px; }
  .promo__description::before {
    position: absolute;
    content: "";
    top: 170px;
    left: 0;
    width: 258px;
    height: 289px;
    background: transparent url("../img/iphone-hand-mobile@1x.png") no-repeat;
    z-index: 0; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .promo__description::before {
        background: transparent url("../img/iphone-hand-mobile@2x.png") no-repeat;
        background-size: 320px auto; } }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      .promo__description::before {
        background: transparent url("../img/iphone-hand-mobile@2x.png") no-repeat;
        background-size: 320px auto; } }
    @media screen and (min-width: 700px) {
      .promo__description::before {
        top: 150px;
        left: -42px;
        width: 700px;
        height: 545px;
        background: transparent url("../img/iphone-hand-tablet@1x.png") no-repeat 100% 100%; } }
  @media screen and (min-width: 700px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 700px) and (min-resolution: 144dpi), screen and (min-width: 700px) and (min-resolution: 1.5dppx) {
    .promo__description::before {
      background: transparent url("../img/iphone-hand-tablet@2x.png") no-repeat 100% 100%;
      background-size: 700px auto; } }
  @media screen and (min-width: 700px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 700px) and (min-resolution: 1.5dppx) {
    .promo__description::before {
      background: transparent url("../img/iphone-hand-tablet@2x.png") no-repeat 100% 100%;
      background-size: 700px auto; } }
    @media screen and (min-width: 1200px) {
      .promo__description::before {
        width: 940px;
        height: 647px;
        top: 209px;
        left: 15px;
        background: transparent url("../img/iphone-hand-desktop@1x.png") no-repeat; } }
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 144dpi), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .promo__description::before {
      background: transparent url("../img/iphone-hand-desktop@2x.png") no-repeat;
      background-size: 1200px auto; } }
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .promo__description::before {
      background: transparent url("../img/iphone-hand-desktop@2x.png") no-repeat;
      background-size: 1200px auto; } }
  @media screen and (min-width: 700px) {
    .promo__description {
      max-width: 300px;
      padding: 0;
      padding-bottom: 110px; } }
  @media screen and (min-width: 1200px) {
    .promo__description {
      padding-bottom: 123px; } }

.promo__title {
  font-size: 0;
  background-color: transparent;
  position: relative;
  padding-bottom: 460px;
  text-align: center; }
  @media screen and (min-width: 700px) {
    .promo__title {
      font-size: 40px;
      line-height: 49px;
      color: #ffffff;
      width: 200px;
      margin-top: 165px;
      padding-bottom: 30px; } }
  @media screen and (min-width: 1200px) {
    .promo__title {
      font-size: 50px;
      line-height: 49px;
      margin-top: 225px; } }

.promo__title--slogan {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 93px;
  padding-bottom: 81px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: #ffffff; }
  @media screen and (min-width: 700px) {
    .promo__title--slogan {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .promo__title--slogan {
      width: 1200px;
      padding: 0 130px; } }

.promo__apps-list {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 20; }
  @media screen and (min-width: 700px) {
    .promo__apps-list {
      padding-top: 47px;
      padding-bottom: 32px; } }
  @media screen and (min-width: 1200px) {
    .promo__apps-list {
      padding-top: 67px;
      padding-bottom: 50px;
      padding-left: 30px;
      padding-right: 30px; } }

.promo__text {
  font-family: "Open Sans";
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  z-index: 20; }
  @media screen and (min-width: 700px) {
    .promo__text {
      font-size: 18px;
      line-height: 24px; } }

.promo__text--slogan {
  width: 100%;
  padding-top: 46px;
  padding-bottom: 47px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  background: #ffffff; }

.btn {
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans";
  font-weight: bold;
  -ms-flex-pack: center;
      justify-content: center;
  color: #ffffff;
  border: 3px solid #ffffff;
  background-color: transparet; }
  .btn--download {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 25px 25px;
    background-color: #1d2631;
    z-index: 20; }
    @media screen and (min-width: 700px) {
      .btn--download {
        background-color: transparent; } }
    .btn--download:hover {
      background-color: #ffffff;
      color: #d22856; }
    .btn--download:active {
      color: rgba(210, 40, 86, 0.3); }

.info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 50px; }
  @media screen and (min-width: 1200px) {
    .info {
      margin-top: 70px; } }

.info__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (min-width: 700px) {
    .info__wrapper {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .info__wrapper {
      width: 1200px;
      padding: 0 130px; } }
  @media screen and (min-width: 700px) {
    .info__wrapper {
      margin-bottom: 40px; } }
  @media screen and (min-width: 1200px) {
    .info__wrapper {
      margin-bottom: 76px; } }

.info__text {
  font-size: 24px;
  line-height: 20px;
  font-family: "Open Sans";
  font-weight: light;
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 30px; }
  @media screen and (min-width: 700px) {
    .info__text {
      font-size: 40px;
      line-height: 49px;
      padding-bottom: 0; }
      .info__text:last-child {
        max-width: 500px;
        margin: auto; } }
  @media screen and (min-width: 1200px) {
    .info__text {
      font-size: 50px;
      line-height: 59px; } }

.features {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  padding-top: 100px;
  background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat;
  background-size: contain; }
  @media screen and (min-width: 700px) {
    .features {
      padding-top: 48px; } }
  @media screen and (min-width: 1200px) {
    .features {
      padding-top: 0; } }

.features__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (min-width: 700px) {
    .features__wrapper {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .features__wrapper {
      width: 1200px;
      padding: 0 130px; } }
  @media screen and (min-width: 700px) {
    .features__wrapper {
      position: relative;
      padding-left: 350px;
      padding-right: 50px; }
      .features__wrapper::before {
        position: absolute;
        content: '';
        top: -37px;
        left: 40px;
        width: 264px;
        height: 481px;
        background: transparent url("../img/iphone-screen-3-tablet@1x.png") no-repeat; } }
    @media screen and (min-width: 700px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 700px) and (min-resolution: 144dpi), screen and (min-width: 700px) and (min-resolution: 1.5dppx) {
      .features__wrapper::before {
        background: transparent url("../img/iphone-screen-3-tablet@2x.png") no-repeat;
        background-size: 264px auto; } }
    @media screen and (min-width: 700px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 700px) and (min-resolution: 1.5dppx) {
      .features__wrapper::before {
        background: transparent url("../img/iphone-screen-3-tablet@2x.png") no-repeat;
        background-size: 264px auto; } }
    @media screen and (min-width: 700px) and (min-width: 1200px) {
      .features__wrapper::before {
        display: none; } }
  @media screen and (min-width: 1200px) {
    .features__wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-pack: justify;
          justify-content: space-between;
      padding: 0 160px; } }

@media screen and (min-width: 700px) {
  .features__item {
    text-align: left; } }

@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 240px;
    text-align: center;
    padding-top: 322px; } }

@media screen and (min-width: 1200px) {
  .features__item--uplifting {
    background: transparent -25px 0px url("../img/iphone-screen-1-desktop@1x.png") no-repeat; } }
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 144dpi), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .features__item--uplifting {
      background: transparent -25px 0px url("../img/iphone-screen-1-desktop@2x.png") no-repeat;
      background-size: 1200px auto; } }
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .features__item--uplifting {
      background: transparent -25px 0px url("../img/iphone-screen-1-desktop@2x.png") no-repeat;
      background-size: 1200px auto; } }

@media screen and (min-width: 1200px) {
  .features__item--change-world {
    max-width: 235px;
    background: transparent -25px 0px url("../img/iphone-screen-2-desktop@1x.png") no-repeat; } }
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 144dpi), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .features__item--change-world {
      background: transparent -25px 0px url("../img/iphone-screen-2-desktop@2x.png") no-repeat;
      background-size: 1200px auto; } }
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .features__item--change-world {
      background: transparent -25px 0px url("../img/iphone-screen-2-desktop@2x.png") no-repeat;
      background-size: 1200px auto; } }

.features__item--make-friends {
  padding-bottom: 277px;
  background: transparent 61px 182px url("../img/iphone-screen-mobile@1x.png") no-repeat; }
  @media screen and (min-width: 700px) {
    .features__item--make-friends {
      padding-bottom: 40px;
      background: none; } }
  @media screen and (min-width: 1200px) {
    .features__item--make-friends {
      background: transparent -25px 0px url("../img/iphone-screen-3-desktop@1x.png") no-repeat; } }
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 144dpi), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .features__item--make-friends {
      background: transparent -25px 0px url("../img/iphone-screen-3-desktop@2x.png") no-repeat;
      background-size: 1200px auto; } }
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .features__item--make-friends {
      background: transparent -25px 0px url("../img/iphone-screen-3-desktop@2x.png") no-repeat;
      background-size: 1200px auto; } }

.features__title {
  font-size: 18px;
  line-height: 20px;
  font-family: "Open Sans";
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 16px; }
  @media screen and (min-width: 1200px) {
    .features__title {
      font-size: 30px;
      line-height: 30px;
      padding-bottom: 24px; } }

.features__text {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans"; }
  @media screen and (min-width: 1200px) {
    .features__text {
      font-size: 18px;
      line-height: 30px; } }

.review {
  padding-top: 85px;
  padding-bottom: 68px; }
  @media screen and (min-width: 700px) {
    .review {
      padding-top: 72px;
      padding-bottom: 13px; } }
  @media screen and (min-width: 1200px) {
    .review {
      padding-top: 185px;
      padding-bottom: 0;
      background: transparent url("../img/icon-quotes.svg") 50% 72px no-repeat;
      background-size: 80px 64px; } }

.review__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (min-width: 700px) {
    .review__wrapper {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .review__wrapper {
      width: 1200px;
      padding: 0 130px; } }

@media screen and (min-width: 1200px) {
  .review__items {
    position: relative; } }

@media screen and (min-width: 1200px) {
  .review-slider {
    margin: 0 auto;
    width: 700px; } }

.review-slider__toggle[type="radio"] {
  display: none; }

.review-slider__controls {
  text-align: center; }

.review-slider__controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: top;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  background-color: #bec2c7;
  margin: 0 6px 0 0; }

.review-slider__toggle:checked + label {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid #283645; }

.review-slider__buttons {
  display: none; }

.review-slider__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold; }
  @media screen and (min-width: 700px) {
    .review-slider__author {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 3px;
      -ms-flex-order: 0;
          order: 0; } }
  @media screen and (min-width: 1200px) {
    .review-slider__author {
      font-size: 24px;
      line-height: 30px; } }

.review-slider__item {
  margin: 0;
  text-align: center; }
  @media screen and (min-width: 1200px) {
    .review-slider__item {
      width: 700px; } }

.review-slider__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0; }

.review-slider__text {
  font-size: 14px;
  line-height: 30px; }
  @media screen and (min-width: 700px) {
    .review-slider__text {
      font-size: 18px;
      line-height: 30px;
      -ms-flex-order: -1;
          order: -1;
      padding-bottom: 35px; } }

.review-slider__author-decription {
  display: none; }
  @media screen and (min-width: 700px) {
    .review-slider__author-decription {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      width: 100%;
      -ms-flex-order: 2;
          order: 2;
      font-size: 14px;
      line-height: 30px; } }
  @media screen and (min-width: 1200px) {
    .review-slider__author-decription {
      font-size: 18px;
      line-height: 30px; } }

.prices {
  background-color: #f2f2f2;
  padding-top: 100px;
  background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat;
  background-size: contain; }
  @media screen and (min-width: 700px) {
    .prices {
      padding-bottom: 65px; } }
  @media screen and (min-width: 1200px) {
    .prices {
      padding-top: 135px;
      padding-bottom: 93px; } }

.prices__wrapper {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center; }
  @media screen and (min-width: 700px) {
    .prices__wrapper {
      width: 320px;
      margin: 0 auto;
      padding: 0 20px; } }
  @media screen and (min-width: 700px) and (min-width: 700px) {
    .prices__wrapper {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 700px) and (min-width: 1200px) {
    .prices__wrapper {
      width: 1200px;
      padding: 0 130px; } }

.prices__tbody td {
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }

.prices__slides {
  position: relative;
  overflow: scroll; }
  @media screen and (min-width: 700px) {
    .prices__slides {
      overflow: hidden; } }

.prices__description {
  position: relative;
  background-color: #283645;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  min-width: 276px; }
  @media screen and (min-width: 700px) {
    .prices__description {
      min-width: 149px; } }
  .prices__description--transparent {
    display: none;
    background-color: transparent; }
    @media screen and (min-width: 700px) {
      .prices__description--transparent {
        display: -ms-flexbox;
        display: flex; } }
  @media screen and (min-width: 1200px) {
    .prices__description {
      width: 235px; } }

.prices__img {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  top: 0;
  left: -2px;
  background: transparent url("../img/bg-hit.svg") no-repeat 50% 50%;
  z-index: 10; }
  .prices__img:before {
    position: absolute;
    content: "хит";
    width: 64px;
    height: 64px;
    top: 5px;
    left: 3px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    transform: rotate(-45deg); }

.prices__value {
  display: none;
  background: #ffffff;
  padding-left: 20px; }
  @media screen and (min-width: 700px) {
    .prices__value {
      display: -ms-flexbox;
      display: flex;
      font-size: 14px;
      line-height: 30px;
      min-height: 60px;
      padding-left: 20px;
      padding-top: 14px;
      padding-bottom: 14px; } }
  @media screen and (min-width: 1200px) {
    .prices__value {
      font-size: 18px;
      line-height: 30px; } }

.prices__title {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 5px; }
  @media screen and (min-width: 700px) {
    .prices__title {
      font-size: 14px;
      line-height: 30px; } }
  @media screen and (min-width: 1200px) {
    .prices__title {
      padding-top: 15px;
      font-size: 18px;
      line-height: 30px; } }

.prices__amount {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 14px; }
  @media screen and (min-width: 700px) {
    .prices__amount {
      font-size: 18px;
      line-height: 30px; } }
  @media screen and (min-width: 1200px) {
    .prices__amount {
      font-size: 24px;
      line-height: 30px; } }

.prices__status {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  min-height: 60px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px; }
  .prices__status--yes {
    background: #ffffff url("../img/icon-yes.svg") no-repeat 50% 50%;
    background-size: 33px 24px;
    background-position-x: right 17px; }
    @media screen and (min-width: 700px) {
      .prices__status--yes {
        background-position-x: 50%; } }
  .prices__status--no {
    background: #ffffff url("../img/icon-no.svg") no-repeat 50% 50%;
    background-size: 28px 28px;
    background-position-x: right 17px; }
    @media screen and (min-width: 700px) {
      .prices__status--no {
        background-position-x: 50%; } }
  @media screen and (min-width: 700px) {
    .prices__status span {
      display: none; } }

.prices__controls {
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 0; }
  @media screen and (min-width: 700px) {
    .prices__controls {
      display: none; } }

.prices__dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: top;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  background-color: #bec2c7;
  margin: 0 6px 0 0; }
  .prices__dot--selected {
    width: 12px;
    height: 12px;
    margin-top: -3px;
    background-color: transparent;
    border: 3px solid #283645; }

.feedback {
  padding-top: 45px;
  /*padding-bottom: 40px;*/ }

.feedback__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }

.feedback__title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 13px; }
  .feedback__title p {
    padding: 0;
    margin: 0; }
  @media screen and (min-width: 700px) {
    .feedback__title {
      font-size: 40px;
      line-height: 52px; } }
  @media screen and (min-width: 1200px) {
    .feedback__title {
      font-size: 50px;
      line-height: 57px;
      padding-top: 22px;
      padding-bottom: 32px; } }

.feedback__map {
  position: relative; }

.feedback__img,
.feedback__iframe {
  width: 100%;
  min-height: 200px;
  border: none; }
  .feedback__img--hidden,
  .feedback__iframe--hidden {
    display: none; }
  @media screen and (min-width: 700px) {
    .feedback__img,
    .feedback__iframe {
      min-height: 380px; } }
  @media screen and (min-width: 1200px) {
    .feedback__img,
    .feedback__iframe {
      min-height: 500px; } }

.feedback__triangle {
  position: absolute;
  margin-top: -1px;
  width: 100%;
  height: 130px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  z-index: 20; }

.contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  padding-bottom: 30px; }
  @media screen and (min-width: 700px) {
    .contacts {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  @media screen and (min-width: 1200px) {
    .contacts {
      padding-bottom: 20px; } }

@media screen and (min-width: 1200px) {
  .contacts__wrapper {
    width: 880px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: justify;
        justify-content: space-between; } }

.contacts__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media screen and (min-width: 700px) {
    .contacts__item:last-of-child {
      -ms-flex-positive: 1;
          flex-grow: 1; } }
  @media screen and (min-width: 1200px) {
    .contacts__item {
      width: 240px; } }

@media screen and (min-width: 1200px) {
  .contacts__item--email {
    -ms-flex-order: 3;
        order: 3; } }

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 27px;
  padding-bottom: 10px; }
  @media screen and (min-width: 1200px) {
    .contacts__title {
      padding-bottom: 23px; } }

.contacts__phone,
.contacts__email,
.contacts__address {
  color: #d22856;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400; }

.contacts__address {
  padding-left: 50px;
  padding-right: 50px; }
  @media screen and (min-width: 1200px) {
    .contacts__address {
      padding: 0; } }

.research {
  display: none; }
  @media screen and (min-width: 700px) {
    .research {
      display: -ms-flexbox;
      display: flex;
      margin-top: 60px; } }
  @media screen and (min-width: 1200px) {
    .research {
      margin: 0;
      padding-top: 25px;
      padding-bottom: 64px;
      background: #f2f2f2; } }

.research__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (min-width: 700px) {
    .research__wrapper {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .research__wrapper {
      width: 1200px;
      padding: 0 130px; } }

.research__img {
  position: relative;
  padding-left: 20px;
  margin-right: 70px; }
  .research__img span {
    position: absolute;
    content: "24";
    top: 55px;
    left: 40px;
    border: 14px solid #d22856;
    border-radius: 100%;
    width: 202px;
    height: 202px;
    text-align: center;
    font-size: 100px;
    line-height: 160px;
    font-weight: bold;
    color: #d22856; }
    @media screen and (min-width: 1200px) {
      .research__img span {
        top: 71px;
        left: 25px;
        border: 15px solid #d22856;
        width: 252px;
        height: 252px;
        font-size: 120px;
        line-height: 207px; } }
  @media screen and (min-width: 1200px) {
    .research__img {
      padding-left: 0;
      margin-right: 65px; }
      .research__img svg {
        width: 302px;
        height: 344px; } }

.research__description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-right: 35px; }

.research__title {
  padding-top: 36px;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold; }
  @media screen and (min-width: 1200px) {
    .research__title {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      padding-top: 92px;
      padding-bottom: 22px; } }

.research__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px; }
  @media screen and (min-width: 1200px) {
    .research__text {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 30px; } }

.research__link {
  text-decoration: underline;
  color: #d22856; }
  @media screen and (min-width: 1200px) {
    .research__link {
      font-size: 18px;
      line-height: 30px; } }

.footer {
  display: none; }
  @media screen and (min-width: 700px) {
    .footer {
      display: -ms-flexbox;
      display: flex;
      padding-top: 37px;
      padding-bottom: 37px; } }
  .footer--photo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }

.footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (min-width: 700px) {
    .footer__wrapper {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .footer__wrapper {
      width: 1200px;
      padding: 0 130px; } }
  @media screen and (min-width: 700px) {
    .footer__wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-pack: justify;
          justify-content: space-between; } }
  .footer__wrapper--photo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }

.footer__logo {
  font-size: 0;
  fill: #283645; }
  .footer__logo:hover svg {
    fill: #d22856; }
  .footer__logo:active svg {
    fill: rgba(40, 54, 69, 0.3); }

@media screen and (min-width: 1200px) {
  .footer__logo-svg-tablet {
    display: none; } }

.footer__logo-svg-tablet--photo {
  display: -ms-flexbox;
  display: flex; }

.footer__logo-svg-desktop {
  /*@include media(tablet) {*/
  display: none;
  /*}*/ }
  @media screen and (min-width: 1200px) {
    .footer__logo-svg-desktop {
      display: -ms-flexbox;
      display: flex; } }

.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 24px;
  margin-right: 5px;
  font-size: 0; }
  @media screen and (min-width: 700px) {
    .social {
      margin-right: 0px;
      padding-bottom: 0px;
      border: none; } }

.social__item {
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  margin-left: 15px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  fill: #d22856; }
  .social__item:hover {
    border: 2px solid #283645; }
  .social__item:active {
    border: 2px solid #f2f2f2;
    opacity: 0.7; }

.footer-author {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center; }

.footer-author__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 2px; }

.footer-author__link svg {
  margin-left: 29px;
  fill: #d22856; }

.footer-author__link:hover svg {
  fill: #283645; }

.footer-author__link:active svg {
  fill: rgba(40, 54, 79, 0.3); }

.photo-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.photo-container__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (min-width: 700px) {
    .photo-container__wrapper {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .photo-container__wrapper {
      width: 1200px;
      padding: 0 130px; } }

.photo-container__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: #f2f2f2; }
  .photo-container__item--first-rait {
    position: relative;
    background-color: #ffffff; }

.photo-container__picture {
  width: 280px;
  height: 180px; }
  .photo-container__picture--first-rait {
    width: 100%;
    height: 137px;
    padding: 0; }

.photo-container__first-rait {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  padding: 9px 19px;
  background-color: #d22856;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold; }

.photo-container__autor {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #283645;
  white-space: pre; }

.photo-container__countdown {
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  color: #283645;
  text-transform: uppercase;
  -ms-flex-negative: 3;
      flex-shrink: 3; }

.photo-container__description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 25px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 25px; }
  .photo-container__description--first-rait {
    background-color: #f2f2f2; }

.photo-container__text {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

.photo-container__like {
  margin-top: 8px;
  padding-left: 30px;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
  background: transparent url("../img/icon-heart-pink.svg") 0 5px no-repeat;
  background-size: 13px 12px; }

.resume-block__title {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #283645; }

.resume-block__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media screen and (min-width: 700px) {
    .resume-block__wrapper {
      width: 700px;
      padding: 0 40px; } }
  @media screen and (min-width: 1200px) {
    .resume-block__wrapper {
      width: 1200px;
      padding: 0 130px; } }
