.review {
  padding-top: 85px;
  padding-bottom: 68px;

  @include media(tablet) {
    padding-top: 72px;
    padding-bottom: 13px;
  }

  @include media(desktop) {
    padding-top: 185px;
    padding-bottom: 0;
    background: transparent url("../img/icon-quotes.svg") 50% 72px no-repeat;
    background-size: 80px 64px;
  }
}

.review__wrapper {
  @include wrapper-container();
}

.review__items {
  @include media(desktop) {
    position: relative;
  }
}
